@import "../base";
@import "../media";
@import "../components";

// .indexBgSm {
//     background-image: url(../../images/about/ai_real_time_breathing_monitoring_system-hero-sm.webp);
//     background-repeat: no-repeat;
//     background-position: top center;
//     background-size: contain;

//     @include sm {
//         background-image: url(../../images/about/ai_real_time_breathing_monitoring_system-hero.webp);
//     }
// }

.indexBgMa {
    margin-bottom: 21rem;

    @include sm {
        margin-bottom: 3rem;
    }
}

.h1Title {
    font-size: 2.3rem;
    line-height: 1;
    font-weight: 700;
    color: var(--bs-primary);

    @include sm {
        font-size: 4.5rem;
        line-height: 1.2;

        &.color_alr {
            color: $hmsalr;
        }
    }
}

.polygonTriangleBefore {
    @include polygonTriangleBefore(50px, 100%, $hmssec);

    @include sm {
        @include polygonTriangleBefore(216px, 100%, $hmssec);
    }
}

.polygonTriangleAfter {
    @include polygonTriangleAfter(50px, 100%, $hmssec);

    @include sm {
        @include polygonTriangleAfter(216px, 100%, $hmssec);
    }
}

.polygonTriangleBefore_reflection {
    @include polygonTriangleBefore_reflection(50px, 100%, $hmspri);

    @include sm {
        @include polygonTriangleBefore_reflection(216px, 100%, $hmspri);
    }
}

.polygonTriangleAfter_reflection {
    @include polygonTriangleAfter_reflection(50px, 100%, $hmspri);

    @include sm {
        @include polygonTriangleAfter_reflection(216px, 100%, $hmspri);
    }
}

.contentHeigh_01 {
    height: 19rem;
}

.content {
    z-index: 1;

    @include sm {
        z-index: 0;
    }
}

.contentHeigh_02 {
    height: 25rem;
}

.patientSafety {
    bottom: -28rem;
    left: -3rem;
    scale: 0.5;
    z-index: -1;

    @include sm {
        scale: 1;
        bottom: -20rem;
        left: -49rem;
    }
}

.aiRealTime_01 {
    z-index: 1;
    top: -6rem;
    left: -2vw;
    scale: 0.5;

    @include sm {
        scale: 0.9;
        top: -16rem;
        left: 25rem;
    }
}

.contentHeigh_04 {
    margin-bottom: 11rem;
}

.aiRealTime_02 {
    top: 6rem;
    left: 0rem;
    scale: 0.6;

    @include sm {
        scale: 0.8;
        top: -7rem;
        left: -37rem;
    }
}

.certificationsIcon {
    width: 70%;
    margin: 0 1rem;

    @include sm {
        width: 35%;
    }
}