@keyframes upDownFlow {
  0% {
    transform: translateY(45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1.1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}
.indexBgMa {
  margin-bottom: 21rem;
}
@media (min-width: 576px) {
  .indexBgMa {
    margin-bottom: 3rem;
  }
}

.h1Title {
  font-size: 2.3rem;
  line-height: 1;
  font-weight: 700;
  color: var(--bs-white);
}
@media (min-width: 576px) {
  .h1Title {
    font-size: 4.5rem;
    line-height: 1.2;
    color: var(--bs-primary);
  }
  .h1Title.color_alr {
    color: #e56130;
  }
}

.polygonTriangleBefore::before {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
  background: #3493C3;
}
@media (min-width: 576px) {
  .polygonTriangleBefore::before {
    content: "";
    display: block;
    height: 216px;
    width: 100%;
    -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
            clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background: #3493C3;
  }
}

.polygonTriangleAfter::after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
  background: #3493C3;
}
@media (min-width: 576px) {
  .polygonTriangleAfter::after {
    content: "";
    display: block;
    height: 216px;
    width: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: #3493C3;
  }
}

.polygonTriangleBefore_reflection::after {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
          clip-path: polygon(0 100%, 0 0, 100% 100%);
  background: #00B0C1;
}
@media (min-width: 576px) {
  .polygonTriangleBefore_reflection::after {
    content: "";
    display: block;
    height: 216px;
    width: 100%;
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
            clip-path: polygon(0 100%, 0 0, 100% 100%);
    background: #00B0C1;
  }
}

.polygonTriangleAfter_reflection::before {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0);
          clip-path: polygon(0 100%, 0 0, 100% 0);
  background: #00B0C1;
}
@media (min-width: 576px) {
  .polygonTriangleAfter_reflection::before {
    content: "";
    display: block;
    height: 216px;
    width: 100%;
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0);
            clip-path: polygon(0 100%, 0 0, 100% 0);
    background: #00B0C1;
  }
}

.contentHeigh_01 {
  height: 19rem;
}

.content {
  z-index: 1;
}
@media (min-width: 576px) {
  .content {
    z-index: 0;
  }
}

.contentHeigh_02 {
  height: 25rem;
}

.patientSafety {
  bottom: -24rem;
  left: -2rem;
  scale: 0.4;
  z-index: 0;
}
@media (min-width: 576px) {
  .patientSafety {
    bottom: -100px;
    left: -110px;
  }
}

.aiRealTime_01 {
  top: -12rem;
  left: -8rem;
  scale: 0.5;
}

.contentHeigh_04 {
  margin-bottom: 11rem;
}

.aiRealTime_02 {
  top: -17rem;
  left: -1rem;
  scale: 0.6;
}
@media (min-width: 576px) {
  .aiRealTime_02 {
    scale: 0.7;
  }
}

.certificationsIcon {
  width: 70%;
  margin: 0 auto;
}/*# sourceMappingURL=AI_real-time_breathing_monitoring_system.css.map */