@use '../base' as *;
@use '../media' as *;
@use '../components' as *;

.indexBgMa {
  margin-bottom: 21rem;

  @include sm {
    margin-bottom: 3rem;
  }
}

.h1Title {
  @include pageH1(2.3rem, 700, $hms-bk-00, 1);

  @include sm {
    @include pageH1(4.5rem, 700, $hmsalr, 1.2);
  }
}

.btn-outline-light {
  --bs-btn-hover-color: var(--bs-primary);
}

.markpen {
  @include markpen_y;
}
