@use 'base' as *;
@use 'components' as *;
@use 'media' as *;

html {
  scroll-padding-top: 94px; //header 高度
}

body {
  .plus-jakarta-sans-800 {
    font-weight: 800;
  }
}

p,
li,
.card-text,
.list-group-item {
  color: $hms-bk-600;
}

.navbar-brand {
  img {
    width: 110px;
    height: auto;

    @include sm {
      width: 150px;
      height: auto;
    }
  }
}

.navbar-toggler {
  font-size: 16px;
  padding: 8px;
  border: 0;
}

.nav-link.active,
.nav-link.active.dropdown-toggle {
  // background-color: var(--bs-white);
  font-weight: bold;
}

.dropdown-menu .dropdown-item {
  color: $hms-bk-600;
  background-color: $hms-bk-00;
}
