@import 'base';
@import 'media';
@import 'components';

.h1Title {
  @include pageH1(2.3rem, 700, $hmsalr, 1);

  @include sm {
    @include pageH1(4.5rem, 700, $hmsalr, 1);
  }
}

// allSolution
.solutionHover {
  &:hover {
    transition: 0.7s;
  }

  @include sm {
    @include bg-setting(center, center, cover);
    min-height: 20vh;
  }
}

.imgWidth {
  @include imgWidth(90%);
  @include sm {
    @include imgWidth(100%);
  }
}

.imgFloatRwd {
  @include imgWidth(100%);
  @include sm {
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
    @include imgWidth(max-content);
  }
}

.dotContainer-4 {
  width: 100%;
  .dotContainer {
    width: 50%;
    @include sm {
      width: 25%;
    }
  }
  .dotContainer:nth-child(1) {
    padding: 1rem;
    @include sm {
      padding: 20% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(2) {
    padding: 1rem;
    @include sm {
      padding: 5% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(3) {
    padding: 1rem;
    @include sm {
      padding: 5% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(4) {
    padding: 1rem;
    @include sm {
      padding: 20% 2rem 2rem 2rem;
    }
  }
}

.dotContainer-5 {
  width: 100%;
  .dotContainer {
    width: 50%;
    @include sm {
      width: 20%;
    }
  }
  .dotContainer:nth-child(1) {
    padding: 1rem;
    @include sm {
      padding: 20% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(2) {
    padding: 1rem;
    @include sm {
      padding: 8% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(3) {
    padding: 1rem;
    @include sm {
      padding: 0% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(4) {
    padding: 1rem;
    @include sm {
      padding: 8% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(5) {
    padding: 1rem;
    @include sm {
      padding: 20% 2rem 2rem 2rem;
    }
  }
}

.dot {
  @include card(100%);
  background-color: rgba(52, 147, 195, 0.8);
  border-radius: 999px;
  overflow: hidden;
  p {
    font-size: 0.8rem;
    @include xs {
      font-size: 1rem;
    }
    @include md {
      font-size: 1.25rem;
    }
  }
}

// smartWardPage
.dotContainer-smartWard_bg {
  background-image: url(../images/solutions/smart_ward_and_mobile_nursing/point.webp);
  @include bg-setting(-224%, 100%, 110%);
  padding: 0 0 30% 0;
  @include sm {
    @include bg-setting(50%, 100%, 55%);
  }
}

.contacts-smartWard_bg {
  @include bg-setting(center, center, cover);
  background-image: url(../images/solutions/smart_ward_and_mobile_nursing/contacts.webp);
  margin-bottom: 5rem;
  padding: 5rem 0;
}

// smartOperationPage
.dotContainer-smartOperation_bg {
  background-image: url(../images/solutions/smart_operation_room/point.webp);
  @include bg-setting(50%, 112%, 100%);
  padding: 0 0 30% 0;
  @include sm {
    @include bg-setting(50%, 100%, 60%);
  }
}

.contacts-smartOperation_bg {
  @include bg-setting(center, center, cover);
  background-image: url(../images/solutions/smart_operation_room/contacts.webp);
  margin-bottom: 5rem;
  padding: 5rem 0;
}

// telehealthPage
.dotContainer-telehealth_bg {
  @include bg-setting(50%, 120%, 80%);
  background-image: url(../images/solutions/telehealth_and_remote_care/point.webp);
  // margin-bottom: 5rem;
  padding: 0 0 30% 0;
  @include sm {
    @include bg-setting(50%, -95%, 60%);
  }
}

.contacts-telehealth_bg {
  @include bg-setting(center, center, cover);
  background-image: url(../images/solutions/telehealth_and_remote_care/contacts.webp);
  margin-bottom: 5rem;
  padding: 5rem 0;
}

// smartDiagnosticPage
.dotContainer-smartDiagnostic_bg {
  @include bg-setting(100%, 120%, 112%);
  background-image: url(../images/solutions/smart_diagnostic_and_imaging/point.webp);
  padding: 0 0 30% 0;
  @include sm {
    @include bg-setting(50%, 150%, 70%);
  }
}

.contacts-smartDiagnostic_bg {
  @include bg-setting(center, center, cover);
  background-image: url(../images/solutions/smart_diagnostic_and_imaging/contacts.webp);
  margin-bottom: 5rem;
  padding: 5rem 0;
}

// intelligentMonitoringPage
.dotContainer-intelligentMonitoring_bg {
  @include bg-setting(center, 360%, 162%);
  background-image: url(../images/solutions/intelligent_monitoring/point.webp);
  padding: 0 0 30% 0;
  @include sm {
    @include bg-setting(center, -50%, 80%);
  }
}

.contacts-intelligentMonitoring_bg {
  @include bg-setting(center, center, cover);
  background-image: url(../images/solutions/intelligent_monitoring/contacts.webp);
  margin-bottom: 5rem;
  padding: 5rem 0;
}

// medicalSuppliesPage
.dotContainer-medicalSupplies_bg {
  @include bg-setting(center, 100%, 160%);
  background-image: url(../images/solutions/medical_supplies_and_equipment/point.webp);
  padding: 0 0 30% 0;
  @include sm {
    @include bg-setting(center, 110%, 80%);
  }
}

.contacts-medicalSupplies_bg {
  @include bg-setting(center, center, cover);
  background-image: url(../images/solutions/medical_supplies_and_equipment/contacts.webp);
  margin-bottom: 5rem;
  padding: 5rem 0;
}

//maskPage

.clinicalEnvironments_card {
  @include card(100%);
  @include bg-setting(center, center, cover);
}
