@import "base";
@import "media";
@import "components";

.h1Title {
  font-size: 2.3rem;
  line-height: 1;
  font-weight: 700;
  color: $hmsalr;

  @include sm {
    font-size: 4.5rem;
  }
}

// allSolution

.solutionHover {
  &:hover {
    transition: 0.7s;
  }

  @include sm {
    @include bg-setting(center, center, cover);
    min-height: 20vh;
  }
}

.solutions-pt {
  overflow: hidden;
  padding-top: 93px;

  @include sm {
    padding-top: 119px;
  }

  @include md {
    padding-top: 109px;
  }
}

.solutions-tab {
  z-index: 2;
  height: 142px;
  position: sticky;
  top: -30px;

  @include sm {
    top: 0px;
  }

  li {
    button {
      font-size: 1rem;

      @include sm {
        font-size: calc(1.275rem + 0.3vw);
      }
    }
  }
}

// featurePage

.imgWidth {
  @include imgWidth(90%);
  @include sm {
    @include imgWidth(100%);
  }
}

.imgFloatRwd {
  @include imgWidth(100%);
  @include sm {
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
    @include imgWidth(max-content);
  }
}

.dotContainer-smartWard_bg {
  background-image: url(../images/solutions/smart_ward_and_mobile_nursing/point.webp);
  @include bg-setting(-224%, 100%, 110%);
  padding: 0 0 30% 0;
  @include sm {
    @include bg-setting(50%, 100%, 55%);
  }
}

.dotContainer-smartOperation_bg {
  background-image: url(../images/solutions/smart_operation_room/point.webp);
  @include bg-setting(50%, 165%, 60%);
  padding: 0 0 30% 0;
  @include sm {
    @include bg-setting(100%, 100%, 100%);
  }
}

.dotContainer-4 {
  .dotContainer {
    width: 50%;
    @include sm {
      width: 25%;
    }
  }
}
.dotContainer-5 {
  .dotContainer {
    width: 45%;
    @include sm {
      width: 20%;
    }
  }
  .dotContainer:nth-child(1) {
    padding: 1rem;
    @include sm {
      padding: 20% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(2) {
    padding: 1rem;
    @include sm {
      padding: 8% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(3) {
    padding: 1rem;
    @include sm {
      padding: 0% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(4) {
    padding: 1rem;
    @include sm {
      padding: 8% 2rem 2rem 2rem;
    }
  }
  .dotContainer:nth-child(5) {
    padding: 1rem;
    @include sm {
      padding: 20% 2rem 2rem 2rem;
    }
  }
}

.dot {
  @include card(100%);
  background-color: rgba(52, 147, 195, 0.8);
  border-radius: 999px;
  overflow: hidden;
}

.contactsBg {
  @include bg-setting(center, center, cover);
  background-image: url(../images/solutions/smart_ward_and_mobile_nursing/contacts.webp);
  margin-bottom: 5rem;
  padding: 5rem 0;
}
