@use 'base' as *;
@use 'media' as *;
@use 'components' as *;

$hero-images: (
  // index
  // solution
  contacts-smartOperation_bg: 'https://healthmit.services/images/solutions/medical_protective_mask_solutions/medical_protective_mask_solutions.webp',
  //mask
  heroMaskSolution: 'https://healthmit.services/images/solutions/medical_protective_mask_solutions/medical_protective_mask_solutions.webp',

  //cart
  heroCartSolution: 'https://healthmit.services/images/solutions/medical_cart_solutions/medical_cart_solutions.webp',
  telemedicine_bg: 'https://healthmit.services/images/solutions/medical_cart_solutions/telemedicine.webp',
  mobileCart_bg: 'https://healthmit.services/images/solutions/medical_cart_solutions/mobile_cart.webp',
  omputerCart_bg: 'https://healthmit.services/images/solutions/medical_cart_solutions/computer_cart.webp',
  cooperate_bg: 'https://healthmit.services/images/solutions/medical_cart_solutions/cooperate.webp',
  commonConfigurationOptions_bg: 'https://healthmit.services/images/solutions/medical_cart_solutions/common_configuration_options.webp',

  //contact
  heroContact: 'https://healthmit.services/images/heroContact.webp'
);

@each $name, $url in $hero-images {
  .#{$name} {
    background-image: url(#{$url});
  }
}
