@import "base";
@import "components";
@import "media";

.h1Title {
  font-size: 4.5rem;
  line-height: 1.2;
  color: var(--bs-primary);
}

.changeBg {
  background-image: url("https://healthmit.services/images/solutions/hospital_at_home/bn-sm.webp");
  @include bg-center-cover;

  @include sm {
    background-image: url("https://healthmit.services/images/solutions/hospital_at_home/bn-xl.webp");
  }
}

.cardBg {
  @include card(100%);
  @include bg-contain(top, center);
}

.card {
  cursor: pointer;

  .imgCard {
    @include card(100%);
  }
}

.hoverHeartBeat {
  &:hover {
    @include heartBeat(5s);
    transition: 5s;
  }
}