@import "base";
@import "components";
@import "media";

.h1Title {
  font-size: 4.5rem;
  line-height: 1.2;
  color: var(--bs-primary);
}
.card{
  cursor: pointer;
}
.hoverHeartBeat {
  &:hover {
    img {
      @include heartBeat(3s);
      transition: 2S;
    }
  }
}