@import "base";
@import "components";
@import "media";

.h1Title {
  @include pageH1(2.3rem, 700, $hms-bk-00, 1);

  @include sm {
    @include pageH1(4.5rem, 700, $hms-bk-00, 1.2);
  }
}

.headerCard {
  position: relative;
  &:hover {
    .headerCard-hover {
      background-color: $hmssec;
      bottom: -60%;
    }
  }
}

.headerCard-hover {
  transition: all 1s;
  background-color: $hmspri;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: -95%;
  left: 0;
  a {
    text-decoration-line: none;
    margin-bottom: 2rem;
  }
}

.choose-card {
  @include card(80%);
  background-image: url(../images/index/AdobeStock_652293571.jpeg);
  @include bg-setting(30%, center, cover);
}
