@keyframes upDownFlow {
  0% {
    transform: translateY(45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}
.h1Title {
  font-size: 4.5rem;
  line-height: 1.2;
  color: var(--bs-primary);
}

:root {
  --cr-main-1: #3ce2ff3b;
  --cr-main-2: #4d50ff34;
  --cr-1: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 20%);
  --cr-2: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 35%);
  --cr-3: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 50%);
  --cr-4: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 65%);
  --cr-5: color-mix(in srgb, var(--cr-main-1), var(--cr-main-2) 80%);
}

.blobs {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 40%;
  pointer-events: none;
  filter: blur(50px);
}
.blobs .blob {
  display: none;
}
@media (min-width: 576px) {
  .blobs .blob {
    display: grid;
    place-content: center;
    width: 500px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform-origin: center;
  }
}
.blobs .blob:nth-of-type(1) {
  background: var(--cr-main-1);
}
.blobs .blob:nth-of-type(2) {
  background: var(--cr-main-2);
}
.blobs .blob:nth-of-type(3) {
  background: var(--cr-1);
}
.blobs .blob:nth-of-type(4) {
  background: whitesmoke;
}
.blobs .blob:nth-of-type(5) {
  background: var(--cr-3);
}
.blobs .blob:nth-of-type(6) {
  background: var(--cr-4);
}
.blobs .blob:nth-of-type(7) {
  background: var(--cr-2);
}

.fri {
  animation: upDownFlow 22s linear infinite alternate-reverse;
}

.sec {
  animation: upDownFlow 20s linear infinite alternate-reverse;
}

.thr {
  animation: upDownFlow 25s linear infinite alternate-reverse;
}

.mobileNursingBg {
  min-height: 468px;
}
@media (min-width: 576px) {
  .mobileNursingBg {
    min-height: 480px;
  }
}
@media (min-width: 768px) {
  .mobileNursingBg {
    min-height: 480px;
  }
}
.mobileNursingBg .mobileNursingBg-03 {
  position: absolute;
  top: 0;
  right: 0;
}
.mobileNursingBg .mobileNursingBg-02 {
  position: absolute;
  top: 0;
  right: 46%;
  width: 55%;
}
@media (min-width: 576px) {
  .mobileNursingBg .mobileNursingBg-02 {
    top: -1%;
    right: 43%;
    width: 45%;
  }
}
@media (min-width: 768px) {
  .mobileNursingBg .mobileNursingBg-02 {
    top: 0%;
    right: 35%;
    width: 38%;
  }
}
.mobileNursingBg .mobileNursingBg-01 {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
}
@media (min-width: 576px) {
  .mobileNursingBg .mobileNursingBg-01 {
    top: -7%;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .mobileNursingBg .mobileNursingBg-01 {
    width: 41%;
  }
}

.bedsideCare {
  min-height: 823px;
}
@media (min-width: 576px) {
  .bedsideCare {
    min-height: 920px;
  }
}
@media (min-width: 768px) {
  .bedsideCare {
    min-height: 940px;
  }
}
@media (min-width: 992px) {
  .bedsideCare {
    min-height: 1060px;
  }
}
@media (min-width: 1200px) {
  .bedsideCare {
    min-height: 1038px;
  }
}
@media (min-width: 1400px) {
  .bedsideCare {
    min-height: 940px;
  }
}
.bedsideCare .bedsideCare_pribg {
  position: absolute;
  background-color: var(--bs-success);
  border-radius: 36px;
  width: 45%;
  height: 35%;
  left: 3%;
  bottom: 0;
}
@media (min-width: 576px) {
  .bedsideCare .bedsideCare_pribg {
    height: 50%;
  }
}
@media (min-width: 992px) {
  .bedsideCare .bedsideCare_pribg {
    width: 34%;
    height: 54%;
  }
}
@media (min-width: 1200px) {
  .bedsideCare .bedsideCare_pribg {
    left: 6%;
  }
}
@media (min-width: 1400px) {
  .bedsideCare .bedsideCare_pribg {
    width: 30%;
    height: 60%;
    left: 0;
  }
}
.bedsideCare .bedsideCare_nurse {
  position: absolute;
  bottom: 0;
  left: -7vw;
  width: 80%;
  height: auto;
}
@media (min-width: 576px) {
  .bedsideCare .bedsideCare_nurse {
    left: -8vw;
  }
}
@media (min-width: 768px) {
  .bedsideCare .bedsideCare_nurse {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .bedsideCare .bedsideCare_nurse {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .bedsideCare .bedsideCare_nurse {
    left: 1%;
    width: 50%;
  }
}
.bedsideCare .bedsideCare_content {
  position: absolute;
  min-width: 80%;
}
@media (min-width: 992px) {
  .bedsideCare .bedsideCare_content {
    max-width: 70%;
  }
}
@media (min-width: 1200px) {
  .bedsideCare .bedsideCare_content {
    left: 50%;
  }
}
@media (min-width: 1400px) {
  .bedsideCare .bedsideCare_content {
    min-width: 50%;
  }
}
.bedsideCare .bedsideCare_cart {
  position: absolute;
  bottom: 0;
  right: 2%;
  width: 37%;
  height: auto;
}
@media (min-width: 768px) {
  .bedsideCare .bedsideCare_cart {
    width: 34%;
  }
}
@media (min-width: 992px) {
  .bedsideCare .bedsideCare_cart {
    width: 32%;
  }
}
@media (min-width: 1200px) {
  .bedsideCare .bedsideCare_cart {
    width: 24%;
  }
}
@media (min-width: 1400px) {
  .bedsideCare .bedsideCare_cart {
    width: 24%;
    right: -2%;
  }
}
.bedsideCare .bedsideCare_bed {
  position: absolute;
  bottom: 0;
  right: 3%;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .bedsideCare .bedsideCare_bed {
    width: 92%;
  }
}
@media (min-width: 992px) {
  .bedsideCare .bedsideCare_bed {
    right: 10%;
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .bedsideCare .bedsideCare_bed {
    right: 10%;
    width: 65%;
  }
}
@media (min-width: 1400px) {
  .bedsideCare .bedsideCare_bed {
    right: 0;
  }
}

.aiAssistant {
  min-height: 685px;
}
@media (min-width: 576px) {
  .aiAssistant {
    min-height: 677px;
  }
}
@media (min-width: 768px) {
  .aiAssistant {
    min-height: 749px;
  }
}
@media (min-width: 992px) {
  .aiAssistant {
    min-height: 800px;
  }
}
@media (min-width: 1200px) {
  .aiAssistant {
    min-height: 880px;
  }
}
@media (min-width: 1400px) {
  .aiAssistant {
    min-height: 834px;
  }
}
.aiAssistant .aiAssistant_content {
  position: absolute;
  margin: 0 auto;
  max-width: 90%;
}
@media (min-width: 1200px) {
  .aiAssistant .aiAssistant_content {
    max-width: 60%;
    left: 2%;
  }
}
.aiAssistant .aiAssistant_venus {
  position: absolute;
  display: none;
}
@media (min-width: 992px) {
  .aiAssistant .aiAssistant_venus {
    display: flex;
    height: 180px;
    bottom: -2%;
  }
}
@media (min-width: 1200px) {
  .aiAssistant .aiAssistant_venus {
    height: 240px;
  }
}
@media (min-width: 1400px) {
  .aiAssistant .aiAssistant_venus {
    left: 0;
    bottom: 4vh;
  }
}
.aiAssistant .aiAssistant_pribg {
  background-color: var(--bs-success);
  position: absolute;
  border-radius: 36px;
  right: 3%;
  width: 50%;
  height: 32%;
  bottom: 0;
}
@media (min-width: 992px) {
  .aiAssistant .aiAssistant_pribg {
    width: 32%;
    height: 60%;
  }
}
@media (min-width: 1400px) {
  .aiAssistant .aiAssistant_pribg {
    width: 40%;
    height: 50%;
    bottom: 0;
    right: -8vw;
  }
}
.aiAssistant .aiAssistant_224 {
  position: absolute;
  bottom: 20%;
  right: 36%;
  width: 46%;
  height: auto;
  transform: rotate(10deg);
}
@media (min-width: 576px) {
  .aiAssistant .aiAssistant_224 {
    bottom: 23%;
    right: 40%;
    width: 45%;
  }
}
@media (min-width: 768px) {
  .aiAssistant .aiAssistant_224 {
    bottom: 36%;
    width: 37%;
  }
}
@media (min-width: 992px) {
  .aiAssistant .aiAssistant_224 {
    width: 30%;
    right: 23%;
  }
}
@media (min-width: 1400px) {
  .aiAssistant .aiAssistant_224 {
    bottom: 37%;
    right: 21%;
    width: 33%;
  }
}
.aiAssistant .aiAssistant_robot {
  position: absolute;
  bottom: 0;
  right: -8vw;
  width: 75%;
  height: auto;
}
@media (min-width: 576px) {
  .aiAssistant .aiAssistant_robot {
    width: 78%;
  }
}
@media (min-width: 768px) {
  .aiAssistant .aiAssistant_robot {
    width: 67%;
  }
}
@media (min-width: 992px) {
  .aiAssistant .aiAssistant_robot {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .aiAssistant .aiAssistant_robot {
    width: 50%;
  }
}

.personalizedCare {
  min-height: 688px;
}
@media (min-width: 576px) {
  .personalizedCare {
    min-height: 688px;
  }
}
@media (min-width: 992px) {
  .personalizedCare {
    min-height: 900px;
  }
}
@media (min-width: 1200px) {
  .personalizedCare {
    min-height: 940px;
  }
}
@media (min-width: 1400px) {
  .personalizedCare {
    min-height: 940px;
  }
}
.personalizedCare .personalizedCare_pribg {
  background-color: var(--bs-success);
  position: absolute;
  border-radius: 36px;
  bottom: 0;
  left: 5%;
  width: 38%;
  height: 29%;
}
@media (min-width: 576px) {
  .personalizedCare .personalizedCare_pribg {
    height: 49%;
  }
}
.personalizedCare .personalizedCare_vemus {
  position: absolute;
  bottom: -14%;
  left: 16%;
  width: 53%;
  height: auto;
}
@media (min-width: 576px) {
  .personalizedCare .personalizedCare_vemus {
    bottom: -20%;
  }
}
@media (min-width: 992px) {
  .personalizedCare .personalizedCare_vemus {
    left: 18%;
    width: 48%;
  }
}
@media (min-width: 1200px) {
  .personalizedCare .personalizedCare_vemus {
    left: 13%;
    width: 38%;
  }
}
@media (min-width: 1400px) {
  .personalizedCare .personalizedCare_vemus {
    left: 12%;
    width: 45%;
  }
}
.personalizedCare .personalizedCare_nurs {
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 84%;
  height: auto;
}
@media (min-width: 992px) {
  .personalizedCare .personalizedCare_nurs {
    width: 75%;
    left: 4%;
  }
}
@media (min-width: 1200px) {
  .personalizedCare .personalizedCare_nurs {
    left: 2%;
    width: 65%;
  }
}
.personalizedCare .personalizedCare_ui {
  position: absolute;
  bottom: 17%;
  left: 4%;
  width: 81%;
  height: auto;
}
@media (min-width: 992px) {
  .personalizedCare .personalizedCare_ui {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .personalizedCare .personalizedCare_ui {
    left: 4%;
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .personalizedCare .personalizedCare_ui {
    bottom: 28%;
    left: 0;
    width: 70%;
  }
}
.personalizedCare .personalizedCare_content {
  position: absolute;
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .personalizedCare .personalizedCare_content {
    right: 2%;
  }
}
@media (min-width: 1400px) {
  .personalizedCare .personalizedCare_content {
    top: 0;
    right: 0;
  }
}/*# sourceMappingURL=mobile_nursing.css.map */