@import "base";
@import "media";

.h1Title {
    font-size: 2.3rem;
    line-height: 1;
    font-weight: 700;
    color: $hms-bk-00;

    @include sm {
        font-size: 4.5rem;
        line-height: 1.2;
        color: var(--bs-primary);
    }
}

.h1P {
    color: var(--bs-gray-800);

}