@import "base";
@import "components";
@import "media";

.h1Title {
  font-size: 4.5rem;
  line-height: 1.2;
  color: var(--bs-primary);
}

.bedsideCare {
  min-height: 823px;

  @include sm {
    min-height: 920px;
  }

  @include md {
    min-height: 940px;
  }

  @include lg {
    min-height: 1060px;
  }

  @include xl {
    min-height: 1038px;
  }

  @include xxl {
    min-height: 940px;
  }

  .bedsideCare_pribg {
    position: absolute;
    background-color: var(--bs-success);
    border-radius: 36px;
    width: 45%;
    height: 35%;
    left: 3%;
    bottom: 0;

    @include sm {
      // width: 45%;
      height: 50%;
      // left: 3%;
      // bottom: 0;

    }

    @include lg {
      width: 34%;
      height: 54%;
    }

    @include xl {
      left: 6%
    }

    @include xxl {
      width: 30%;
      height: 60%;
      left: 0;
    }
  }

  .bedsideCare_nurse {
    position: absolute;
    bottom: 0;
    left: -7vw;
    width: 80%;
    height: auto;

    @include sm {
      left: -8vw;
    }

    @include md {
      width: 70%;
    }

    @include lg {
      width: 60%;
    }

    @include xl {
      left: 1%;
      width: 50%;
    }
  }

  .bedsideCare_content {
    position: absolute;
    min-width: 80%;
    // @include sm {
    //   min-width: 80%;
    // }

    @include lg {
      max-width: 70%;
    }

    @include xl {
      // min-width: 70%;
      left: 50%;
    }

    @include xxl {
      min-width: 50%;
    }
  }

  .bedsideCare_cart {
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 37%;
    height: auto;
    // @include sm {
    //   bottom: 0;
    //   right: 2%;
    //   width: 37%;
    //   height: auto;
    // }

    @include md {
      width: 34%;
    }

    @include lg {
      // right: 2%;
      width: 32%;
      // height: auto;
    }

    @include xl {
      width: 24%;
      // height: auto;
      // right: 2%;
    }

    @include xxl {
      width: 24%;
      // height: auto;
      // bottom: 0;
      right: -2%;
    }
  }

  .bedsideCare_bed {
    position: absolute;
    bottom: 0;
    right: 3%;
    width: 100%;
    height: auto;
    // @include sm {
    //   bottom: 0;
    //   right: 3%;
    //   width: 100%;
    //   height: auto;
    // }

    @include md {
      width: 92%;
    }

    @include lg {
      // bottom: 0;
      right: 10%;
      width: 80%;
      // height: auto;
    }

    @include xl {
      // bottom: 0;
      right: 10%;
      width: 65%;
      // height: auto;
    }

    @include xxl {
      // bottom: 0;
      right: 0;
      // width: 65%;
      // height: auto;
    }
  }
}

.aiAssistant {
  min-height: 685px;

  @include sm {
    min-height: 677px;
  }

  @include md {
    min-height: 749px;
  }

  @include lg {
    min-height: 800px;
  }

  @include xl {
    min-height: 880px;
  }

  @include xxl {
    min-height: 834px;
  }

  .aiAssistant_content {
    position: absolute;
    margin: 0 auto;
    max-width: 90%;
    // @include sm {
    //   margin: 0 auto;
    //   max-width: 90%;
    // }

    @include xl {
      max-width: 60%;
      left: 2%;
    }
  }

  .aiAssistant_venus {
    position: absolute;
    display: none;
    // @include sm {
    //   display: none;
    // }

    // @include md {
    //   display: none;
    // }

    @include lg {
      display: flex;
      height: 180px;
      bottom: -2%;
    }

    @include xl {
      // display: flex;
      height: 240px;
      // bottom: -2%;
    }

    @include xxl {
      // display: flex;
      left: 0;
      bottom: 4vh;
      // height: 240px;
    }

  }

  .aiAssistant_pribg {
    background-color: var(--bs-success);
    position: absolute;
    border-radius: 36px;
    right: 3%;
    width: 50%;
    height: 32%;
    bottom: 0;
    // @include sm {
    //   right: 3%;
    //   width: 50%;
    //   height: 32%;
    //   bottom: 0;
    // }

    @include lg {
      width: 32%;
      height: 60%;
    }

    // @include xl {
    //   width: 32%;
    //   height: 60%;
    // }

    @include xxl {
      width: 40%;
      height: 50%;
      bottom: 0;
      right: -8vw;
    }
  }

  .aiAssistant_224 {
    position: absolute;
    bottom: 20%;
    right: 36%;
    width: 46%;
    height: auto;
    transform: rotate(10deg);

    @include sm {
      // transform: rotate(10deg);
      bottom: 23%;
      right: 40%;
      width: 45%;
      // height: auto;
    }

    @include md {
      bottom: 36%;
      width: 37%;
      // height: auto;
    }

    @include lg {
      // bottom: 36%;
      width: 30%;
      // height: auto;
      right: 23%;
    }

    @include xl {
      // bottom: 36%;
      // width: 30%;
      // height: auto;
      // right: 23%;
    }

    @include xxl {
      bottom: 37%;
      right: 21%;
      width: 33%;
      // height: auto;
      // transform: rotate(10deg);
    }
  }

  .aiAssistant_robot {
    position: absolute;
    bottom: 0;
    right: -8vw;
    width: 75%;
    height: auto;

    @include sm {
      // bottom: 0;
      // right: -8vw;
      width: 78%;
      // height: auto;
    }

    @include md {
      width: 67%;
    }

    @include lg {
      width: 50%;
      // height: auto;
    }

    @include xl {
      width: 50%;
      // height: auto;
    }

  }

}

.personalizedCare {
  min-height: 688px;

  @include sm {
    min-height: 688px;
  }

  @include lg {
    min-height: 900px;
  }

  @include xl {
    min-height: 940px;
  }

  @include xxl {
    min-height: 940px;
  }

  .personalizedCare_pribg {
    background-color: var(--bs-success);
    position: absolute;
    border-radius: 36px;
    bottom: 0;
    left: 5%;
    width: 38%;
    height: 29%;

    @include sm {
      height: 49%;
    }

    @include xxl {
      // bottom: 0;
      // left: 5%;
      // width: 38%;
      // height: 49%;
    }
  }

  .personalizedCare_vemus {
    position: absolute;
    bottom: -14%;
    left: 16%;
    width: 53%;
    height: auto;

    // bottom: -20%;
    @include sm {
      bottom: -20%;

    }

    @include lg {
      // bottom: -20%;
      left: 18%;
      width: 48%;
      // height: auto;
    }

    @include xl {
      // bottom: -20%;
      left: 13%;
      width: 38%;
      // height: auto;
    }

    @include xxl {
      // bottom: -20%;
      left: 12%;
      width: 45%;
      // height: auto;
    }
  }

  .personalizedCare_nurs {
    position: absolute;
    bottom: 0;
    left: 2%;
    width: 84%;
    height: auto;
    // @include sm {
    //   bottom: 0;
    //   left: 2%;
    //   width: 84%;
    //   height: auto;
    // }

    @include lg {
      width: 75%;
      left: 4%;
    }

    @include xl {
      left: 2%;
      width: 65%;
    }

    // @include xxl {
    //   height: auto;

    // }
  }

  .personalizedCare_ui {
    position: absolute;
    bottom: 17%;
    left: 4%;
    width: 81%;
    height: auto;
    // @include sm {
    //   bottom: 17%;
    //   left: 4%;
    //   width: 81%;
    //   height: auto;
    // }

    @include lg {
      // bottom: 17%;
      width: 75%;
    }

    @include xl {
      left: 4%;
      width: 60%;

    }

    @include xxl {
      bottom: 28%;
      left: 0;
      width: 70%;
      // height: auto;
    }
  }

  .personalizedCare_content {
    position: absolute;
    max-width: 90%;
    margin: 0 auto;
    // @include sm {
    //   max-width: 90%;
    //   margin: 0 auto;
    // }

    @include xl {
      right: 2%;
    }

    @include xxl {
      top: 0;
      right: 0;
    }
  }
}