@import "media";

.solutions-pt {
    overflow: hidden;
    padding-top: 93px;

    @include sm {
        padding-top: 119px;
    }

    @include md {
        padding-top: 109px;
    }
}

.solutions-tab {
    z-index: 2;
    height: 142px;
    position: sticky;
    top: -30px;

    @include sm {
        top: 0px;
    }

    li {
        button {
            font-size: 1rem;

            @include sm {
                font-size: calc(1.275rem + 0.3vw);
            }
        }
    }
}